.sidebar-title{
    font-size:22px;
    font-weight:normal;
    margin-bottom:20px;

}
.sidebar-items{
    margin-top:5px;
}
.sidebar-label-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom:12px;
    cursor: pointer;
    --webkit-user-select:none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}
.sidebar-label-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}
.sidebar-label-container:hover input ~ .checkmark{
    background-color: #ccc;
}
.sidebar-label-container input:checked ~ .checkmark{
    background-color: #2196F3;
}
.sidebar-label-container .checkmark:after{
    content: "";
    position: absolute;
    display: none;
}
.sidebar-label-container input:checked ~ .checkmark:after{
    display: block;
}
.sidebar-label-container .checkmark:after{
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.line{
    margin-top: 3rem;
    border-color: #f7f7f7;
}